*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: black;
}
header{
    height: 80px;
    background-color: #f9f8f4;
}
header>nav{
    height: 100%;
    width: auto;
}
header>nav>ul{
    background-color: #f9f8f4;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
}
header>nav>ul>li>ul{
    width: 650px;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #f9f8f4;
}
#james_clear{
    font-weight: bold;
    letter-spacing: 2px;
}
#acerca_de{
    font-weight: bold;
}
#hero{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 50px 25%;
}
#hero>h1{
    font-size: 40px;
    font-weight: bold;
    text-align: center;
}
#hero>img{
    max-width: 600px;
    height: auto;
}
#hero>h4{
    text-align: center;
    font-size: medium;
    padding: 40px 23%;
}
#correo{
    border: solid 1px orange;
    height: 50px;
    width: 200px;
    text-align: center;
}
button{
    border: solid 1px orange;
    height: 50px;
    width: 200px;
    text-align: center;
    background-color: orange;
    font-size: 400;
}
footer{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: black;
    height: 150px;
}
footer>a{
    font-size: medium;
    font-weight: bolder;
}
footer a {
    color: white;
}
footer ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}
@media screen and (min-width:670px) and (max-width: 870px){
    header>nav>ul{
        background-color: #f9f8f4;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100%; 
    }
}
@media screen and (max-width:670px) {
    header>nav>ul{
        background-color: #f9f8f4;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100%; 
    }
    header>nav>ul>li>ul{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        background-color: #f9f8f4;
        gap: 7px;
    }
    header>nav>ul>li>ul>li{
        border: solid 1px wheat;
    }
    header #hablando{
        display: none;
    }
    img{
       width: 340px;
       height: auto;
    }
    #hero{
        padding: 0;
        margin: 10px;
    }
    #hero>h1{
        font-weight: bold;
        text-align:center;
        font-size: 30px;
    }
    #hero>h4 {
        text-align:center;
        font-size: 10px;
    }
    #correo{
        border: solid 1px orange;
        height: 35px;
        width: 160px;
        text-align: center;
    }
    button{
        border: solid 1px orange;
        height: 35px;
        width: 160px;
        text-align: center;
        background-color: orange;
        font-size: 400;
    }
    
}